
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/angular.js"></script>
<h2>Index</h2>
<div ng-app="IndexApp" ng-controller="CarroesController">
    <div class="col-md-12">
        <label>Marca</label>
        <input class="form-control" ng-model="dados.marca" type="text" />
        <label>Modelo</label>
        <input class="form-control" ng-model="dados.modelo" type="text" />
        <br />
        <br />
        <input type="button" ng-click="EnviaDados()" class="btn btn-success" value="Enviar" />
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody ng-repeat="carros in lista">
                <tr>
                    <td>{{carros.Id}}</td>
                    <td>{{carros.Marca}}</td>
                    <td>{{carros.Modelo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/Carroes/Index.js"></script>

